<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>VFS Browser | Shoko Relay</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/tree.css" />
    <link rel="stylesheet" href="css/browser.css" />
    <script>
      window._sr = window._sr || {};
      window._sr.tasks = {
        vfsBuild: "{{TaskVfsBuild}}",
      };
    </script>
  </head>
  <body>
    <!--#region MARK: Browser
    -->
    <div id="browser" role="main">
      <div id="controls">
        <div id="root-tabs" class="tabs-container"></div>
        <span class="filter-wrap">
          <svg class="filter-icon magnify"><use href="img/icons.svg#magnify"></use></svg>
          <input id="filter" type="text" placeholder="Search..." />
          <button id="filter-clear" title="Clear" type="button" hidden>
            <svg class="filter-icon clear"><use href="img/icons.svg#close"></use></svg>
          </button>
        </span>
      </div>
      <div id="header">
        <div id="title">VFS Browser</div>
        <div id="vfs-count">0 Series</div>
      </div>
      <div id="tree"></div>
    </div>
    <!-- #endregion -->
    <div id="toast-container"></div>
    <script src="js/script.js"></script>
    <script src="js/tree.js"></script>
    <script src="js/browser.js"></script>
  </body>
</html>
