<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Video Player | Shoko Relay</title>
    <link rel="icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/player.css" />
  </head>
  <body>
    <!--#region MARK: Player
    -->
    <div class="player" role="main">
      <div class="video-container">
        <div id="controls">
          <button id="next" class="at-btn" title="Play" type="button" data-state="idle">
            <svg class="icon-svg play"><use href="img/icons.svg#play"></use></svg>
            <svg class="icon-svg next"><use href="img/icons.svg#skip-next"></use></svg>
          </button>
          <button id="mode" class="at-btn" title="Playback Mode" data-mode="off" type="button">
            <svg class="icon-svg mode loop"><use href="img/icons.svg#sync"></use></svg>
            <svg class="icon-svg mode shuffle"><use href="img/icons.svg#shuffle-variant"></use></svg>
            <svg class="icon-svg mode next"><use href="img/icons.svg#shuffle-disabled"></use></svg>
            <svg class="icon-svg mode off"><use href="img/icons.svg#sync-off"></use></svg>
          </button>
          <span class="filter-wrap">
            <svg class="filter-icon magnify"><use href="img/icons.svg#magnify"></use></svg>
            <input id="filter" type="text" placeholder="Filter..." />
            <button id="filter-clear" title="Clear" type="button" hidden>
              <svg class="filter-icon clear"><use href="img/icons.svg#close"></use></svg>
            </button>
          </span>
        </div>
        <video id="video" autoplay></video>
        <div id="video-ui" class="video-ui-overlay">
          <div class="ui-top-row">
            <button id="theme-toggle" class="ui-btn theme-toggle" title="Theme Toggle" aria-label="Theme Toggle" aria-pressed="false">
              <svg class="icon-svg"><use href="img/icons.svg#theme-light-dark"></use></svg>
            </button>
            <button id="help-open" class="ui-btn" title="Help" type="button">
              <svg class="icon-svg"><use href="img/icons.svg#help-box"></use></svg>
            </button>
            <button id="fullscreen" class="ui-btn" title="Fullscreen" type="button">
              <svg class="icon-svg fs-enter"><use href="img/icons.svg#fullscreen"></use></svg>
              <svg class="icon-svg fs-exit"><use href="img/icons.svg#fullscreen-exit"></use></svg>
            </button>
          </div>
          <div class="ui-bottom-row">
            <div class="ui-left">
              <span id="time-display">0:00 / 0:00</span>
            </div>
            <div class="ui-right">
              <span id="volume-text">50%</span>
              <button id="volume-icon" class="ui-btn">
                <svg class="icon-svg v-high"><use href="img/icons.svg#volume-high"></use></svg>
                <svg class="icon-svg v-med"><use href="img/icons.svg#volume-medium"></use></svg>
                <svg class="icon-svg v-low"><use href="img/icons.svg#volume-low"></use></svg>
                <svg class="icon-svg v-mute"><use href="img/icons.svg#volume-mute"></use></svg>
              </button>
            </div>
          </div>
        </div>
        <div id="player-progress-track" class="at-progress-track active">
          <div id="player-progress-fill" class="at-progress-fill"></div>
        </div>
      </div>
      <div id="details">
        <div class="header">
          <div class="now-playing">
            <div class="np-wrap">
              <span id="now-playing-fav" class="fav-icon" title="Favourite">❤</span>
              <span id="title" data-tooltip-overflow-only="true">AnimeThemes: VFS Video Player</span>
            </div>
            <div class="np-wrap">
              <span id="locate-current" class="loc-icon" title="Jump">⏷</span>
              <a id="anime" href="#" target="_blank" rel="noopener noreferrer" data-tooltip-overflow-only="true">Select a theme to begin...</a>
            </div>
          </div>
        </div>
        <div id="tree"></div>
      </div>
    </div>
    <!-- #endregion -->

    <!--#region MARK: Help Modal
    -->
    <div id="player-help-modal" class="modal-overlay" aria-hidden="true" role="dialog" aria-modal="true">
      <div class="modal help" role="document">
        <header>Player Help</header>
        <div class="modal-body">
          <section>
            <h3>Player Keybinds</h3>
            <div class="full">
              <ul class="help-list">
                <li><kbd>␣</kbd><small>Play / Pause</small></li>
                <li><kbd>←</kbd><small>Seek -5s</small></li>
                <li><kbd>J</kbd><small>Seek -10s</small></li>
                <li><kbd>,</kbd><small>Seek -1 Frame</small></li>
                <li><kbd>B</kbd><small>Prev Theme</small></li>
                <li><kbd>;</kbd><small>Prev Playback Mode</small></li>
                <li><kbd>↓</kbd><small>Volume Down</small></li>
                <li><kbd>M</kbd><small>Toggle Mute</small></li>
                <li><kbd>F</kbd><small>Toggle Fullscreen</small></li>
              </ul>
              <ul class="help-list">
                <li><kbd>K</kbd><small>Play / Pause</small></li>
                <li><kbd>→</kbd><small>Seek +5s</small></li>
                <li><kbd>L</kbd><small>Seek +10s</small></li>
                <li><kbd>.</kbd><small>Seek +1 Frame</small></li>
                <li><kbd>N</kbd><small>Next Theme</small></li>
                <li><kbd>'</kbd><small>Next Playback Mode</small></li>
                <li><kbd>↑</kbd><small>Volume Up</small></li>
                <li><kbd>G</kbd><small>Locate in Tree</small></li>
                <li><kbd>H</kbd><small>Toggle Favourite</small></li>
              </ul>
            </div>
          </section>
          <section>
            <h3>Filter Controls</h3>
            <h4>Keybinds</h4>
            <ul class="help-list inline-help">
              <li><kbd>/</kbd><small>Focus</small></li>
              <li><kbd>Enter</kbd><small>Confirm</small></li>
              <li><kbd>Esc</kbd><small>Clear</small></li>
            </ul>
            <h4>Keywords</h4>
            <ul class="help-list inline-help">
              <li><code>favs</code> <small>Favourites</small></li>
              <li><code>+tag</code> <small>Include</small></li>
              <li><code>-tag</code> <small>Exclude</small></li>
            </ul>
            <h4>Tag List</h4>
            <code title="No Credits">nc</code> <code title="Spoiler">spoil</code> <code title="Not Safe for Work">nsfw</code> <code title="Karaoke Present">lyrics</code>
            <code title="Subtitles Present">subs</code> <code title="Uncensored Version">uncen</code> <code title="Transitional Overlap">trans</code> <code title="Full Overlap">over</code>
          </section>
        </div>
      </div>
    </div>
    <!-- #endregion -->

    <script src="js/script.js"></script>
    <script src="js/player.js"></script>
  </body>
</html>
