html {
  scrollbar-gutter: unset;
}
body {
  margin: 0;
  background-color: var(--panel-color);
}
/* #region MARK: Player
*/
.player {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  background-color: var(--panel-color);
  border: none;
}
.player .video-container {
  aspect-ratio: 16 / 9;
  position: relative;
  width: 100%;
  background: #000;
}
.player .video-container video {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.video-container .at-progress-track {
  position: absolute;
  bottom: 0;
  height: 6px;
  transition: height 0.2s ease-in-out;
  background: var(--inset-color);
}
.video-container .at-progress-track::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: -24px;
  left: 0;
  right: 0;
}
.video-container .at-progress-fill {
  transition: width 0.1s linear;
  background: var(--highlight-color);
  border-radius: 0;
}
.video-container .at-progress-track:hover {
  height: 24px;
}
#controls {
  display: flex;
  position: absolute;
  z-index: 1;
  bottom: -56px;
  right: 8px;
}
#controls .at-btn svg {
  width: 1.7em;
  height: 1.7em;
  margin-right: 8px;
}
#details {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
.header {
  flex-shrink: 0;
  height: 61px;
  padding: 0 10px;
  border-bottom: 1px solid var(--border-color);
}
.np-title-wrap {
  display: flex;
  align-items: center;
}
.now-playing {
  overflow: hidden;
  max-width: calc(100vw - 395px);
  margin-top: 7px;
  cursor: default;
  font-size: 1.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#now-playing-fav {
  display: none;
}
#title {
  display: block;
  flex: 1;
  overflow: hidden;
  min-width: 0;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#anime {
  pointer-events: none;
  display: inline-block;
  opacity: 0.6;
  overflow: hidden;
  max-width: 100%;
  margin-top: -3px;
  transition: all 0.3s ease-in-out;
  font-size: 0.9em;
  color: var(--text-color);
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#anime:hover {
  opacity: 1;
  color: var(--highlight-color);
  text-decoration: dotted underline;
}
.filter-wrap {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 295px;
}
.filter-icon {
  fill: var(--text-color);
  opacity: 0.6;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}
.magnify {
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 6px;
}
.filter-wrap input {
  padding: 0 2.2em;
  font-size: 1em;
}
#filter-clear {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 3px;
  padding: 4px;
  background: none;
  cursor: pointer;
  border: none;
}
#filter-clear:hover {
  background: none;
}
#filter-clear[hidden] {
  display: none;
}
.clear:hover {
  opacity: 1;
}
/* #endregion */

/* #region MARK: Tree View
*/
#tree {
  --spacing: 1.3rem;
  --radius: 6px;
  flex: 1;
  overflow-y: auto;
  padding: 0 8px;
  font-size: 0.9em;
}
#tree .placeholder {
  opacity: 0.6;
  padding: 40px 8px;
  color: var(--text-color);
  text-align: center;
}
#tree ul {
  margin-top: 0;
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}
#tree ul:first-child {
  margin-top: 4px;
}
#tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}
#tree ul li {
  border-left: 2px solid var(--button-color);
}
#tree ul.tree > li::before {
  border-bottom-color: transparent;
}
#tree ul li:last-child {
  border-color: transparent;
}
#tree ul li::before {
  content: "";
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid var(--button-color);
  border-width: 0 0 2px 2px;
  border-bottom-left-radius: 3px;
}
#tree summary {
  user-select: none;
  display: block;
  overflow: hidden;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  list-style: none;
}
#tree summary::marker,
#tree summary::-webkit-details-marker,
#tree summary .tree-icon.collapse,
#tree summary .tree-icon.collapse::after,
#tree details[open] > summary .tree-icon.expand {
  display: none;
}
#tree li::after,
#tree summary .tree-icon {
  display: block;
  position: absolute;
  top: calc(var(--spacing) / 2 - var(--radius));
  left: calc(var(--spacing) - var(--radius) - 1px);
  width: calc(2 * var(--radius));
  height: calc(2 * var(--radius));
  background: var(--border-color);
  border-radius: 50%;
}
#tree summary .tree-icon {
  display: block;
  z-index: 1;
  background: var(--inset-color);
  border: 1px solid var(--text-color);
  border-radius: 2px;
}
#tree summary .tree-icon::before,
#tree summary .tree-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 2px;
  background: var(--text-color);
}
#tree summary .tree-icon.expand::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
#tree details[open] > summary .tree-icon.collapse {
  display: block;
}
#tree .leaf {
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-left: -11px;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#tree .leaf:hover,
#tree summary:hover {
  background: var(--inset-color);
}
#tree .leaf.active {
  background: var(--button-color);
  color: var(--bg-color);
}
ul.tree {
  margin-top: 8px;
}
.fav-icon {
  user-select: none;
  flex-shrink: 0;
  opacity: 0.1;
  padding: 0 4px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.fav-icon:hover,
.fav-icon.favourited,
.leaf.active .fav-icon.favourited {
  opacity: 1;
  color: var(--danger-color);
}
.fav-icon.favourited:hover,
.leaf.active .fav-icon.favourited:hover {
  opacity: 0.5;
}
/* #endregion */

/* #region MARK: Layout Adjustments
*/
@media (min-aspect-ratio: 4/3) {
  .player {
    flex-direction: row;
  }
  .player .video-container {
    aspect-ratio: auto;
    flex: 1;
    height: 100vh;
  }
  #details {
    width: 390px;
    max-width: 390px;
    max-height: calc(100vh - 52px);
  }
  .now-playing {
    max-width: auto;
  }
  #tree {
    border-bottom: 1px solid var(--border-color);
  }
  #controls {
    bottom: 0px;
    right: -384px;
  }
}
/* #endregion */
