/* #region MARK: Player
*/
#player .video-container {
  position: relative;
  container-type: inline-size;
  background: black;
  aspect-ratio: 16 / 9;
  width: 100%;
}
#player .video-container video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#player .video-container.video-off video {
  visibility: hidden;
}
#header-right .img-btn svg {
  margin: 6px 8px 0 0;
  width: 1.7em;
  height: 1.7em;
}
.at-progress-track {
  position: absolute;
  top: auto;
  bottom: 0;
  transition: height 0.2s ease-in-out;
  background: var(--inset-color);
}
.at-progress-track::before {
  position: absolute;
  top: -24px;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
}
.at-progress-fill {
  transition: filter 0.3s ease-in-out;
  border-radius: 0;
}
.at-progress-track:hover {
  height: 24px;
}
#details {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0;
}
#now-playing-fav,
#locate-current {
  pointer-events: none;
}
#anime,
#anidb {
  transition: all 0.3s ease-in-out;
  margin-top: 0.15em;
  pointer-events: none;
  color: color-mix(in srgb, var(--highlight-color) 80%, transparent);
  font-size: 0.9em;
  text-decoration: none;
}
#anidb {
  margin-top: 5px;
  min-width: min-content;
  font-size: 0.75em;
}
#anime:hover,
#anidb:hover {
  color: var(--highlight-color);
  text-decoration: dotted underline;
}
/* #endregion */

/* #region MARK: Video UI Overlay
*/
.video-container::after {
  position: absolute;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  inset: 0;
  background: linear-gradient(to bottom, var(--black-t60), transparent 25%), linear-gradient(to top, var(--black-t60), transparent 25%);
  pointer-events: none;
  content: "";
  color: var(--text-color);
}
.ui-left,
#volume-text {
  pointer-events: none;
}
.ui-top-row,
.ui-left,
#volume-text {
  z-index: 2;
}
.at-progress-track {
  z-index: 3;
}
#volume-icon {
  z-index: 4;
}
.ui-top-row,
.ui-bottom-row {
  display: flex;
  position: absolute;
  right: 0;
  padding: 0 15px;
}
.ui-top-row {
  top: 12px;
  gap: 8px;
}
.ui-bottom-row {
  bottom: 26px;
  left: 6px;
  justify-content: space-between;
  font-size: 1.1em;
  font-variant-numeric: tabular-nums;
  user-select: none;
}
.video-container:hover .video-ui-overlay,
.video-container[data-volume-level="mute"] .video-ui-overlay {
  opacity: 1;
}
.ui-top-row,
.ui-left,
#volume-text,
#volume-icon {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.video-container:hover::after,
.video-container:hover .ui-top-row,
.video-container:hover .ui-left,
.video-container:hover #volume-text,
.video-container:hover #volume-icon,
.video-container[data-volume-level="mute"] #volume-icon {
  opacity: 1;
}
.ui-btn {
  all: unset;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  pointer-events: auto;
  color: var(--text-color);
}
.ui-btn .icon-svg {
  fill: currentColor;
  width: 1.6em;
  height: 1.6em;
}
.ui-btn:hover {
  opacity: 1;
  background: none;
  color: var(--hover-color);
}
.ui-left,
.ui-right {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
  white-space: nowrap;
}
.ui-right {
  justify-content: flex-end;
}
#time-display,
#volume-text {
  flex-shrink: 0;
}
#video-toggle[data-state="off"] .v-on,
#video-toggle .v-off,
#fullscreen[data-state="fullscreen"] .fs-enter,
#fullscreen .fs-exit,
#volume-icon .icon-svg {
  display: none;
}
#video-toggle[data-state="off"] .v-off,
#fullscreen[data-state="fullscreen"] .fs-exit,
.video-container[data-volume-level="high"] .v-high,
.video-container[data-volume-level="med"] .v-med,
.video-container[data-volume-level="low"] .v-low,
.video-container[data-volume-level="mute"] .v-mute {
  display: inline !important;
}
.theme-toggle[aria-pressed="false"] {
  color: var(--highlight-color);
}
.video-container.idle {
  cursor: none;
}
.video-container.idle::after,
.video-container.idle .video-ui-overlay,
.video-container.idle .at-progress-track {
  opacity: 0;
  pointer-events: none;
}
/* #endregion */

/* #region MARK: Unicode Icons
*/
.fav-icon,
.loc-icon {
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: 1.1em;
  user-select: none;
}
.fav-icon {
  color: color-mix(in srgb, currentColor 10%, transparent);
}
.loc-icon {
  margin-top: -0.1em;
  color: color-mix(in srgb, var(--highlight-color) 60%, transparent);
}
#tree .fav-icon {
  padding: 0 1px 0 1px;
}
.fav-icon:hover,
.fav-icon.favourited,
.leaf.active .fav-icon.favourited {
  color: var(--danger-color);
}
.loc-icon:hover {
  color: var(--highlight-color);
}
.fav-icon.favourited:hover,
.leaf.active .fav-icon.favourited:hover {
  color: color-mix(in srgb, currentColor 50%, transparent);
}
/* #endregion */

/* #region MARK: Layout Adjustments
*/
@media (min-aspect-ratio: 4/3) {
  #player {
    flex-direction: row;
  }
  #player .video-container {
    flex: 1;
    aspect-ratio: auto;
    height: 100vh;
  }
  #player .video-container video {
    width: 100%;
  }
  #details {
    border-left: 1px solid var(--border-color);
    width: 390px;
    max-width: 390px;
  }
  #header {
    flex-direction: column;
    height: 120px;
  }
  #header-left,
  #header-right {
    height: 50%;
  }
  #header-right {
    border-top: 1px solid var(--border-color);
    padding-left: 2px;
  }
  .now-playing {
    max-width: 100%;
  }
  .filter-wrap {
    width: 100%;
  }
}
@container (max-width: 260px) {
  #volume-text {
    display: none;
  }
}
@container (max-width: 200px) {
  #time-display {
    display: none;
  }
}
/* #endregion */
